/**
  * ------------------------------------------------------ *
  * mobile styles
  * ------------------------------------------------------ *
**/
a {
  color: var(--primary);
}

a:active {
  color: var(--secondary);
}

a:hover {
  cursor: pointer;
}

.all_posts {
  margin: 2rem 0;
}

body {
  background: #f5f5f5;
}

.summary-card {
  position: relative;
  background: var(--tertiary);
  width: 100%;
  max-width: 80%;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  margin: 1rem auto;
  border-radius: 1px;
  padding: 1rem 1rem;
}

.summary-card-title-container {
  color: var(--primary);
  text-align: left;
  font-family: "Poppins 500";
  font-size: 1.5em;
  letter-spacing: 0.25px;
  border-bottom: 1px solid var(--secondary-40p);
}

.summary-card-artice-summary {
  margin-top: 0.5625rem;
  letter-spacing: 0.5px;
  word-spacing: 5px;
}

.summary-card-links {
  width: max-content;
  margin-top: 0.5rem;
}

/**
  * ------------------------------------------------------ *
  * small tablets styles
  * ------------------------------------------------------ *
**/
@media screen and (min-width: 620px) {
  .summary-card {
    max-width: 70%;
  }

  .summary-card-title-container {
    font-size: 1.6em;
  }

  .summary-card-artice-summary {
    font-size: 0.85rem;
  }
}

/**
  * ------------------------------------------------------ *
  * large tablets & laptop styles
  * ------------------------------------------------------ *
**/
@media screen and (min-width: 960px) {
  .summary-card {
    max-width: 60%;
  }

  .summary-card-title-container {
    font-size: 1.7em;
  }

  .summary-card-artice-summary {
    font-size: 0.9rem;
  }
}

/**
  * ------------------------------------------------------ *
  * desktop styles
  * ------------------------------------------------------ *
**/
@media screen and (min-width: 1200px) {
  .summary-card {
    max-width: 45%;
  }

  .summary-card-title-container {
    font-size: 1.75em;
  }

  .summary-card-artice-summary {
    font-size: 0.98rem;
  }
}
