/**
 * ------------------------------------------------------ *
 * variables
 * ------------------------------------------------------ *
**/
:root {
  --primary: rgb(0, 155, 72);
  --secondary: rgb(255, 121, 0);
  --tertiary: rgb(255, 255, 255);
  --quaternary: rgb(241, 241, 241);
  --quinary: rgb(60, 64, 67);
  --senary: rgb(154, 160, 166);
}

/**
 * ------------------------------------------------------ *
 * reset - removing unwanted default styles
 * ------------------------------------------------------ *
**/
body,
a,
p,
ul,
li,
input,
button,
textarea,
img {
  outline: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

/**
 * ------------------------------------------------------ *
 * base styles
 * ------------------------------------------------------ *
**/
body {
  background: var(--quaternary);
  font-family: "Poppins 300";
  font-size: 0.85rem;
  color: var(--quinary);
}

a[href=""] {
  cursor: default;
}

/**
 * ------------------------------------------------------ *
 * fonts
 * ------------------------------------------------------ *
**/

/* Poppins */
@font-face {
  font-family: "Poppins 300";
  src: url("../fonts/poppins/Poppins\ Light\ 300.ttf");
}

@font-face {
  font-family: "Poppins 300 Italic";
  src: url("../fonts/poppins/Poppins\ Light\ 300\ Italic.ttf");
}

@font-face {
  font-family: "Poppins 400";
  src: url("../fonts/poppins/Poppins\ Regular\ 400.ttf");
}

@font-face {
  font-family: "Poppins 400 Italic";
  src: url("../fonts/poppins/Poppins\ Regular\ 400\ Italic.ttf");
}

@font-face {
  font-family: "Poppins 500";
  src: url("../fonts/poppins/Poppins\ Medium\ 500.ttf");
}

@font-face {
  font-family: "Poppins 500 Italic";
  src: url("../fonts/poppins/Poppins\ Medium\ 500\ Italic.ttf");
}

/**
 * ------------------------------------------------------ *
 * mobile styles
 * ------------------------------------------------------ *
**/

/* Cookie Consent Banner */
.cookie-consent-banner {
  background: var(--primary);
  position: fixed;
  bottom: 0;
  padding: 0.5rem;
}

.cookie-consent-banner > a {
  color: var(--secondary);
}

.cookie-consent-banner > form > button {
  border: 1px solid var(--secondary);
  border-radius: 5px;
  padding: 0.25rem;
  margin-left: 1rem;
  color: var(--secondary);
}

/* Form formatting */
button {
  font: inherit;
  border: none;
  color: green;
  font-family: "Poppins 500";
  font-size: 0.875rem;
  letter-spacing: 1.25px;
  background: none;
  cursor: pointer;
}

.card {
  background: var(--tertiary);
  border-radius: 5px;
  margin: 1rem;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
  margin-bottom: 2rem;
  max-width: 95%;
  min-height: 25rem;
}

.container {
  padding: 2px 1rem;
}

.card_title {
  margin: 15px 0;
  font-family: "Poppins 500";
  font-size: 1.5em;
  letter-spacing: 0.25px;
}

.text_field_group {
  font-weight: 400;
  letter-spacing: 1px;
  position: relative;
  padding: 15px 0 0;
}

.text_field {
  width: 100%;
  border: 0;
  border-bottom: 1px solid var(--tertiary);
  font-size: 1rem;
  color: #212121;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.text_field::placeholder {
  color: transparent;
}

.text_field:placeholder-shown ~ .text_field_label {
  font-size: 16sp;
  cursor: text;
  top: 20px;
}

/* Merging label and text field */
label,
.text_field:focus ~ .text_field_label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.35s;
  font-size: 0.75rem;
  color: #9b9b9b;
}

/* Text on focus above field */
.text_field:focus ~ .text_field_label {
  color: var(--primary);
  letter-spacing: 0.1px;
}

/* Text field unerline bar on focus */
.text_field:focus {
  padding-bottom: 0.375rem;
  border-bottom: 2px solid var(--primary);
}

form > button {
  margin-bottom: 1rem;
}

/* Page formatting */

#page-container {
  position: relative;
  min-height: 100vh;
}

/* mail-list subscribe popup */
#sub-popup-bg {
  clear: both;
  position: absolute;
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
}

#sub-popup-box {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 80%;
  max-width: 25rem;
  height: 20;
  padding: 1rem;
  background: var(--tertiary);
  box-shadow: 0 0 1px rgba(0, 0, 0, 7);
  border-radius: 5px;
}

#popup-close-button {
  width: 2rem;
  height: 2rem;
  top: 1.6rem;
  right: 1.6rem;
  position: fixed;
  background: none;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
}

#popup-close-button > img {
  max-width: 100%;
}

/* header */
header {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  background: var(--tertiary);
  padding: 1px 0;
  padding-top: 5px;
}

/* side navbar */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--primary);
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--secondary);
  display: block;
  transition: 0.2s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#sidenav-bttn {
  border-radius: 5px;
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  top: 1.5rem;
  left: 1.5rem;
  cursor: pointer;
}

/* logo & motto */
#header-logo {
  max-width: 50%;
  display: block;
  margin: 0 auto;
}

#header-motto {
  text-align: center;
  font-size: 0.75rem;
  font-family: "Poppins 300";
  letter-spacing: 0.4px;
}

/* subscribe button */
#subscribe_popup {
  display: none;
  border: 1px solid var(--secondary);
  border-radius: 3px;
  padding: 5px;
  background: none;
  color: var(--secondary);
  font-family: "Poppins 500";
  font-size: 1.15rem;
  cursor: pointer;
}

/* search bar */
#header-search {
  margin: 10px auto;
  width: 80%;
  height: 40px;
}

#header-search > input[type="text"] {
  font-size: 1rem;
  float: left;
  height: 100%;
  width: 75%;
  padding-left: 5%;
  padding-right: 5%;
  background: var(--quaternary);
  border: none;
  border-radius: 10px 0 0 10px;
}

#header-search > button[type="submit"] {
  width: 15%;
  height: 100%;
  border-radius: 0 10px 10px 0;
  background: var(--primary);
  opacity: 0.8;
  border: none;
  cursor: pointer;
}

#header-button-search-icon {
  height: 65%;
}

/* main */
main {
  padding-bottom: 6rem;
}

/* footer */
footer {
  height: 4.5rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 10px 0;
  background: var(--primary);
  text-align: center;
}

footer > ul > li {
  margin-top: 5px;
}

footer > ul > li > a {
  color: var(--tertiary);
}

/**
 * ------------------------------------------------------ *
 * sidebar heigh adjustment for small devices
 * ------------------------------------------------------ *
**/
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/**
 * ------------------------------------------------------ *
 * small tablets styles
 * ------------------------------------------------------ *
**/
@media screen and (min-width: 620px) {
  .card {
    margin: 1rem auto;
    margin-bottom: 2rem;
  }

  #header-logo {
    max-width: 40%;
    display: block;
    margin: 0 auto;
  }

  #header-motto {
    text-align: center;
    font-size: 0.85rem;
    letter-spacing: 0.4px;
  }
}

/**
 * ------------------------------------------------------ *
 * large tablets & laptop styles
 * ------------------------------------------------------ *
**/
@media screen and (min-width: 960px) {
  .card {
    margin: 2rem auto;
    max-width: 45rem;
  }

  /* logo & motto */
  #header-logo-motto-container {
    max-width: 18%;
    margin-left: 1rem;
    display: inline-block;
  }

  #header-logo {
    max-width: 100%;
    margin: 0;
  }

  #header-motto {
    text-align: center;
    font-size: 0.75rem;
    letter-spacing: 0.4px;
  }

  /* subscribe button */
  #subscribe_popup {
    float: right;
    margin-right: 5rem;
    margin-left: 3rem;
    margin-top: 1.25rem;
    display: initial;
  }

  /* */
  #sidenav-bttn {
    display: none;
  }

  /* search bar */
  #header-search {
    margin: 1rem 1rem 0 0;
    width: 35%;
    float: right;
    height: 40px;
  }

  #header-search > input[type="text"] {
    font-size: 1rem;
    float: left;
    height: 100%;
    width: 75%;
    padding-left: 5%;
    padding-right: 5%;
    background: var(--quaternary);
    border: none;
    border-radius: 10px 0 0 10px;
  }

  #header-search > button[type="submit"] {
    width: 15%;
    height: 100%;
    border-radius: 0 10px 10px 0;
    background: var(--primary);
    opacity: 0.8;
    border: none;
    cursor: pointer;
  }
}

/**
 * ------------------------------------------------------ *
 * desktop styles
 * ------------------------------------------------------ *
**/
@media screen and (min-width: 1200px) {
  /* logo & motto */
  #header-logo-motto-container {
    max-width: 14%;
    margin-left: 1rem;
    display: inline-block;
  }

  /* subscribe button */
  #subscribe_popup {
    margin-top: 1rem;
    margin-left: 17rem;
  }

  /* search bar */
  #header-search {
    margin: 1rem 0 0 0;
    width: 25%;
    float: right;
    height: 40px;
  }
}
