/**
 * ------------------------------------------------------ *
 * variables
 * ------------------------------------------------------ *
**/
:root {
  --primary: #009b48;
  --secondary: #ff7900;
  --tertiary: #ffffff;
  --quaternary: #f1f1f1;
}

/**
 * ------------------------------------------------------ *
 * reset - removing unwanted default styles
 * ------------------------------------------------------ *
**/
body,
a,
p,
ul,
li,
input,
button,
textarea,
img {
  outline: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

/**
 * ------------------------------------------------------ *
 * base styles
 * ------------------------------------------------------ *
**/
body {
  background: var(--quaternary);
  font-family: "Roboto 300 Regular";
}

a[href=""] {
  cursor: default;
}

/**
 * ------------------------------------------------------ *
 * fonts
 * ------------------------------------------------------ *
**/
@font-face {
  font-family: "Roboto 300 Regular";
  src: url("../fonts/Roboto-300.ttf");
}

@font-face {
  font-family: "Roboto 300 Italic";
  src: url("../fonts/Roboto-300-Italic.ttf");
}

@font-face {
  font-family: "Roboto 400 Regular";
  src: url("../fonts/Roboto-400.ttf");
}

@font-face {
  font-family: "Roboto 400 Italic";
  src: url("../fonts/Roboto-400-Italic.ttf");
}

@font-face {
  font-family: "Roboto 500 Regular";
  src: url("../fonts/Roboto-500.ttf");
}

@font-face {
  font-family: "Roboto 500 Italic";
  src: url("../fonts/Roboto-500-Italic.ttf");
}

/**
 * ------------------------------------------------------ *
 * mobile styles
 * ------------------------------------------------------ *
**/

#page-container {
  position: relative;
  min-height: 100vh;
}

/* mail-list subscribe popup */
#sub-popup-bg {
  clear: both;
  position: absolute;
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
}

#sub-popup-box {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 80%;
  max-width: 25rem;
  height: 20;
  padding: 1rem;
  background: var(--tertiary);
  box-shadow: 0 0 1px rgba(0, 0, 0, 7);
  border-radius: 5px;
}

#popup-close-button {
  width: 2rem;
  height: 2rem;
  top: 1.6rem;
  right: 1.6rem;
  position: fixed;
  background: none;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
}

#popup-close-button > img {
  max-width: 100%;
}

/* header */
header {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  background: var(--tertiary);
  padding: 1px 0;
  padding-top: 5px;
}

/* logo & motto */
#header-logo {
  max-width: 50%;
  display: block;
  margin: 0 auto;
}

#header-motto {
  text-align: center;
  font-size: 0.75rem;
  letter-spacing: 0.4px;
}

/* subscribe button */
#subscribe_popup {
  display: none;
  border: 1px solid var(--secondary);
  border-radius: 3px;
  padding: 5px;
  background: none;
  color: var(--secondary);
  font-family: "Roboto 500 Regular";
  font-size: 1.15rem;
  cursor: pointer;
}

/* search bar */
#header-search {
  margin: 10px auto;
  width: 80%;
  height: 40px;
}

#header-search > input[type="text"] {
  font-size: 1rem;
  float: left;
  height: 100%;
  width: 75%;
  padding-left: 5%;
  padding-right: 5%;
  background: var(--quaternary);
  border: none;
  border-radius: 10px 0 0 10px;
}

#header-search > button[type="submit"] {
  width: 15%;
  height: 100%;
  border-radius: 0 10px 10px 0;
  background: var(--primary);
  opacity: 0.8;
  border: none;
  cursor: pointer;
}

#header-button-search-icon {
  height: 65%;
}

/* main */
main {
  padding-bottom: 6rem;
}

/* footer */
footer {
  height: 4.5rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 10px 0;
  background: var(--primary);
  text-align: center;
}

footer > ul > li {
  margin-top: 5px;
}

footer > ul > li > a {
  color: var(--tertiary);
}

/**
 * ------------------------------------------------------ *
 * small tablets styles
 * ------------------------------------------------------ *
**/
@media screen and (min-width: 620px) {
  #header-logo {
    max-width: 40%;
    display: block;
    margin: 0 auto;
  }

  #header-motto {
    text-align: center;
    font-size: 0.85rem;
    letter-spacing: 0.4px;
  }
}

/**
 * ------------------------------------------------------ *
 * large tablets & laptop styles
 * ------------------------------------------------------ *
**/
@media screen and (min-width: 960px) {
  /* logo & motto */
  #header-logo-motto-container {
    max-width: 18%;
    margin-left: 1rem;
    display: inline-block;
  }

  #header-logo {
    max-width: 100%;
    margin: 0;
  }

  #header-motto {
    text-align: center;
    font-size: 0.75rem;
    letter-spacing: 0.4px;
  }

  /* subscribe button */
  #subscribe_popup {
    float: right;
    margin-right: 5rem;
    margin-left: 3rem;
    margin-top: 1.25rem;
    display: initial;
  }

  /* search bar */
  #header-search {
    margin: 1rem 1rem 0 0;
    width: 35%;
    float: right;
    height: 40px;
  }

  #header-search > input[type="text"] {
    font-size: 1rem;
    float: left;
    height: 100%;
    width: 75%;
    padding-left: 5%;
    padding-right: 5%;
    background: var(--quaternary);
    border: none;
    border-radius: 10px 0 0 10px;
  }

  #header-search > button[type="submit"] {
    width: 15%;
    height: 100%;
    border-radius: 0 10px 10px 0;
    background: var(--primary);
    opacity: 0.8;
    border: none;
    cursor: pointer;
  }
}

/**
 * ------------------------------------------------------ *
 * desktop styles
 * ------------------------------------------------------ *
**/
@media screen and (min-width: 1200px) {
  /* logo & motto */
  #header-logo-motto-container {
    max-width: 14%;
    margin-left: 1rem;
    display: inline-block;
  }

  /* subscribe button */
  #subscribe_popup {
    margin-top: 1rem;
    margin-left: 17rem;
  }

  /* search bar */
  #header-search {
    margin: 1rem 0 0 0;
    width: 25%;
    float: right;
    height: 40px;
  }
}
